<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Churn Prediction</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <div class="wrapper">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">
                        <img class="nav-travel" src="../static/images/logo.png">
                    </a>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6"><b>Enter User Information in the Form Below</b></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-3"><br>
                    <form action="{{ url_for('predict')}}" method="post">

                        <label for="DailyRate">Daily Rate:</label><br>
                        <input type="number" min="100" max="1500" required="required" id="DailyRate"
                            name="DailyRate"><br>

                        <label for="EducationField">Education field:</label><br>
                        <select name="EducationField" required="required" id="EducationField">
                            <option disabled selected value> -- select -- </option>
                            <option value="1">Life Sciences</option>
                            <option value="2">Medical</option>
                            <option value="3">Marketing</option>
                            <option value="4">Technical Degree</option>
                            <option value="5">Other</option>
                        </select><br>

                        <label for="OverTime">OverTime:</label><br>
                        <select name="OverTime" required="required" id="OverTime">
                            <option disabled selected value> -- select -- </option>
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select><br>

                        <label for="Department">Department:</label><br>
                        <select name="Department" required="required" id="Department">
                            <option disabled selected value> -- select -- </option>
                            <option value="1">Sales</option>
                            <option value="2">Research & Development</option>
                            <option value="3">Human Resources</option>
                        </select><br>

                        <label for="JobRole">Job Role:</label><br>
                        <select name="JobRole" required="required" id="JobRole">
                            <option disabled selected value> -- select -- </option>
                            <option value="1">Sales Executive</option>
                            <option value="2">Research Scientist</option>
                            <option value="3">Laboratory Technician</option>
                            <option value="4">Manufacturing Director</option>
                            <option value="5">Healthcare Representative</option>
                        </select><br>

                        <label for="MaritalStatus">Marital Status:</label><br>
                        <select name="MaritalStatus" required="required" id="MaritalStatus">
                            <option disabled selected value> -- select -- </option>
                            <option value="1">Single</option>
                            <option value="2">Married</option>
                            <option value="3">Divorced</option>
                        </select><br>

                        <label for="BusinessTravel">Business Travel:</label><br>
                        <select name="BusinessTravel" required="required" id="BusinessTravel">
                            <option disabled selected value> -- select -- </option>
                            <option value="1">Travel_Rarely</option>
                            <option value="2">Travel_Frequently</option>
                        </select><br>

                        <label for="JobInvolvement">Job Involvement:</label><br>
                        <select name="JobInvolvement" required="required" id="JobInvolvement">
                            <option disabled selected value> -- select -- </option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select><br>

                         <label for="JobSatisfaction">Job Satisfaction:</label><br>
                        <select name="JobSatisfaction" required="required" id="JobSatisfaction">
                            <option disabled selected value> -- select -- </option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select><br>

                        <label for="EnvironmentSatisfaction">Environment Satisfaction:</label><br>
                        <select name="EnvironmentSatisfaction" required="required" id="EnvironmentSatisfaction">
                            <option disabled selected value> -- select -- </option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select><br>

                        <label for="RelationshipSatisfaction">Relationship Satisfaction:</label><br>
                        <select name="RelationshipSatisfaction" required="required" id="RelationshipSatisfaction">
                            <option disabled selected value> -- select -- </option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select><br>

                        <label for="PerformanceRating">Performance Rating:</label><br>
                        <select name="PerformanceRating" required="required" id="PerformanceRating">
                            <option disabled selected value> -- select -- </option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select><br>

                          <label for="JobLevel">Job Level:</label><br>
                    <select name="JobLevel" required="required" id="JobLevel">
                        <option disabled selected value> -- select -- </option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select><br>

                     <label for="StockOptionLevel">Stock Option Level:</label><br>
                    <select name="StockOptionLevel" required="required" id="StockOptionLevel">
                        <option disabled selected value> -- select -- </option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select><br>

                         <label for="Education">Education:</label><br>
                    <select name="Education" required="required" id="Education">
                        <option disabled selected value> -- select -- </option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select><br>

                    <label for="WorkLifeBalance">Work Life Balance:</label><br>
                    <select name="WorkLifeBalance" required="required" id="WorkLifeBalance">
                        <option disabled selected value> -- select -- </option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select><br>

                        <label for="gender">Gender:</label><br>
                        <select name="gender" required="required" id="Gender">
                            <option disabled selected value> -- select -- </option>
                            <option value="0">Female</option>
                            <option value="1">Male</option>
                        </select><br>

                        <label for="age">Age:</label><br>
                        <input type="number" required="required" min="18" id="Age" name="age"><br>

                        <label for="YearsAtCompany">Years At Company:</label><br>
                        <input type="number" required="required" id="YearsAtCompany" name="YearsAtCompany"><br>

                        <label for="YearsInCurrentRole">Years In Current Role:</label><br>
                        <input type="number" required="required" id="YearsInCurrentRole" name="YearsInCurrentRole"><br>

                        <label for="YearsSinceLastPromotion">Years Since Last Promotion:</label><br>
                        <input type="number" required="required" id="YearsSinceLastPromotion" name="YearsSinceLastPromotion"><br>

                        <label for="YearsWithCurrManager">Years With Curr Manager:</label><br>
                        <input type="number" required="required" id="YearsWithCurrManager" name="YearsWithCurrManager"><br>

                        <label for="HourlyRate">Hourly Rate:</label><br>
                        <input type="number" required="required" id="HourlyRate" name="HourlyRate"><br>

                        <label for="MonthlyRate">Monthly Rate:</label><br>
                        <input type="number" required="required" id="MonthlyRate" name="MonthlyRate"><br>

                        <label for="MonthlyIncome">Monthly Income:</label><br>
                        <input type="number" required="required" id="MonthlyIncome" name="MonthlyIncome"><br>

                        <label for="PercentageSalaryHike">Percentage Salary Hike:</label><br>
                        <input type="number" required="required" id="PercentageSalaryHike" name="PercentageSalaryHike"><br>

                        <label for="TotalWorkingYears">Total Working Years:</label><br>
                        <input type="number" required="required" id="TotalWorkingYears" name="TotalWorkingYears"><br>

                        <label for="TrainingTimesLastYear">Training Times Last Year:</label><br>
                        <input type="number" required="required" id="TrainingTimesLastYear" name="TrainingTimesLastYear"><br>

                        <label for="NumCompaniesWorked">Num Companies Worked:</label><br>
                        <input type="number" required="required" id="NumCompaniesWorked" name="NumCompaniesWorked"><br>

                        <label for="DistanceFromHome">Distance From Home:</label><br>
                        <input type="number" required="required" id="DistanceFromHome" name="DistanceFromHome"><br>

                    
                </div><br>
                <div class="col-sm-3"><br>
                    <br>
                    <button type="submit" class="btn btn-success">Submit</button></form>
                </div>
            </div>
        </div>


        <br><br>
        <div class="container">
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6"><b>Model Prediction that Customer is Likely to Exit</b></div>
            </div>
        </div><br>
        <div class="container">
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="table-responsive">
                        <table class="table" border="2">
                            <thead>
                                <tr>
                                    <th>Model Name</th>
                                    <th>Prediction</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pred in maind['predictions'] %}
                                <tr>
                                    {% for key, value in pred.items() %}
                                    <td style="text-align:left"> {{ value }} </td>
                                    <!-- <td> {{ pred['model'] }} </td>
                                  <td> {{ pred['prediction'] }} </td> -->
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6"><b>Customer Data Input Record</b></div>
            </div>
        </div><br>
        <div class="container">
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="table-responsive">
                        <table class="table" border="2">
                            <tbody>
                                {% for k, v in maind['customer'].items() %}
                                <tr>
                                    <td style="text-align:left"> {{ k }} </td>
                                    <td style="text-align:left"> {{ v }} </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <br><br>
                    </div>
                </div>
            </div>
        </div>
</body>